#email-notifier{
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    top: 100vh;

    padding-top: 20%;

    text-align: center;
    color: $text-main-color;
    text-shadow: 0 0 2px $deep-blue;
    
    background-color: $dark-blue;
    background-image: 
    linear-gradient(0deg, rgba($deep-blue, 0.66) 0%, transparent 66%),
    url("/assets/img/gone.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: 100% 20%;
    
    @media #{$smartphone-v}{ background-position: 20% 0; }
    @media #{$smartphone-h}{ background-position: -20% 50%; }

    p{
        min-width: 200px;
        max-width: 80vw;
        margin: 0 auto;
        
        font-size: 2em;

        @media #{$smartphone-h}{ 
            font-size: 1em; 
            max-width: 60vw;
        }
        @media #{$smartphone-v}{ 
            font-size: 1em; 
            max-width: 50vw;
        }
    }
}