$li-size: 100px;

ol{
    width: 100%;
    padding-top: 40px;

    list-style: none;
    counter-reset: point-counter;
    
    @media #{$smartphone-v}{ padding-top: 12px; }
    @media #{$smartphone}{ padding-top: 0; }

    li{
        @include rounded;
        opacity: 0;
        position: relative;
        margin: ($li-size * 0.55) 0;
        padding: 16px 32px;
        padding-left: ($li-size * 0.8);

        color: $secondary-color-darken;
        font-size: 0.44em;
        
        @media #{$smartphone}{
            margin: 12px 0;
            padding: 8px 16px 8px 50px;
        }

        @media #{$smartphone-v}{ 
            font-size: 0.6em; 
        }
        @media #{$smartphone-h}{ 
            margin: 12px 0;
        }
        
        &::before{
            content: counter(point-counter);
            counter-increment: point-counter;
            
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 0;
            
            transform: translate(-50%, -50%);
            
            text-align: center;
            font-weight: bolder;
            font-size: 0;
            line-height: ($li-size*0.95);
            
            border-radius: 50%;
            border: 0 solid $secondary-color-darken; 
            background-color: $text-main-color;
            
            @media #{$smartphone}{
                line-height: 45px;
            }
        }

        .darken{
            font-weight: bold;
        }
    }
}

@media #{$pc}{
    @keyframes reveal-circle{
        0%{
            border-width: 0;
            width: 0;
            height: 0;
            font-size: 0;
        }
        10%{
            border-width: 12px;
            width: 0;
            height: 0;
            font-size: 0;
        }
        25%{
            width: $li-size;
            height: $li-size;
            font-size: 0;
            font-size: 0;
        }
        30%{
            font-size: ($li-size * 0.8);
        }
        100%{
            width: $li-size;
            height: $li-size;
            font-size: ($li-size * 0.8);
            border-width: 12px;
        }
    }

    @keyframes reveal-paragraph{
        0%{
            opacity: 1;
            font-size: 0;
            width: 0;
            display: none;
            padding: 0;
        }
        50%{
            display: block;
            width: 0;
            padding: 0;
        }
        100%{
            opacity: 1;
            width: 100%;
            padding: 16px 32px;
            padding-left: ($li-size * 0.8);
        }
    }
}
@media #{$smartphone}{
    @keyframes reveal-circle{
        0%{
            border-width: 0;
            width: 0;
            height: 0;
            font-size: 0;
        }
        10%{
            border-width: 12px;
            width: 0;
            height: 0;
            font-size: 0;
        }
        25%{
            width: 50px;
            height: 50px;
            font-size: 0;
            font-size: 0;
        }
        30%{
            font-size: 40px;
        }
        100%{
            width: 50px;
            height: 50px;
            font-size: 40px;
            border-width: 12px;
        }
    }

    @keyframes reveal-paragraph{
        0%{
            opacity: 1;
            font-size: 0;
            width: 0;
            display: none;
            padding: 0;
        }
        50%{
            display: block;
            width: 0;
            padding: 0;
        }
        100%{
            opacity: 1;
            width: 100%;
            padding: 8px 16px 8px 50px;
        }
    }
}