.text-container{
    width: 100%;
    margin-bottom: 20vh;
    padding: 20vh 0;
    
    .content{
        width: 800px;
        margin: 0 auto;

        @media #{$smartphone}{
            width: 80%;
        }

        p{
            margin: 1% auto;
            @media #{$smartphone-v}{
                margin: 2% auto;
            }
        }
    }

    & strong, & .name{
        font-weight: 400;
        color: $strong-color;

        & b, &.uppercase{
            text-transform: uppercase;
        }
    }
}