$secondary-color: #f7941e;
$secondary-color-darken: #e42b21;
$brown: #bf1e2d;
$deep-blue: #00132d;
$light-blue: #4585c5;
$dark-blue: #302e84;

$text-main-color: rgb(255, 255, 255);
$main-font: 'Source Code Pro', monospace;
$strong-color: $secondary-color;

$color-shadow: rgba(0, 0, 0, 0.6);

$smartphone-width: 840px;
$pc: "screen and (min-device-width:"+ $smartphone-width+")";
$smartphone: "screen and (max-width:"+ $smartphone-width+")";
$smartphone-h: "screen and (max-width: "+$smartphone-width+") and (orientation: landscape)";
$smartphone-v: "screen and (max-width: "+$smartphone-width+") and (orientation: portrait)";